<h1 mat-dialog-title>Log workz for {{data.day}}</h1>
<div mat-dialog-content>
  <p>What's your favorite work?</p>
  <mat-form-field>
    <mat-label>Favorite Work</mat-label>
    <input matInput [(ngModel)]="data.hours"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Second Favorite Work</mat-label>
    <input matInput/>
  </mat-form-field>
   <div *ngIf="data.fields" class="form-row">
        <mat-form-field *ngFor="let field of data.fields, let i = index">
            <mat-label>{{field.label}}</mat-label>
            <input matInput [(ngModel)]="field.name"/>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>