<div fxLayout="row" >
    <div fxFlex="3%" fxLayoutGap="1%"></div>
    <div fxFlex="90%" fxLayoutGap="1%">
        <div fxLayout="column" fxLayoutGap="1%">
            <div fxFlex="3%"></div>
            <div fxFlex="30%" fxLayoutAlign="end end">
                <button mat-raised-button  (click)="toggleWeekends()">Toggle weekends</button>
            </div>
            <div>
                <full-calendar [options]="calendarOptions"></full-calendar>
            </div>
        </div>
    </div>
</div>
<div>
    <li>
        <!-- <button mat-raised-button (click)="openDialog('päivä', [])">Pick one</button> -->
    </li>
    <li *ngIf="hours">
        You chose: <i>{{dialogData}}</i>
    </li>
</div>